In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../results/specific_domain_pred_results.csv')

In [2]:
df.head()

,sentence,subj_name,subj_type,obj_name,obj_type,relation
0,"[E1] 삼성전자 [/E1] 가 [E2] 인도 [/E2] , 중국 시장을 겨냥해 ...",삼성전자,ORGANIZATION,인도,COUNTRY,다음 국가의 것임(country)
1,"[E1] 삼성전자 [/E1] 가 인도, [E2] 중국 [/E2] 시장을 겨냥해 ...",삼성전자,ORGANIZATION,중국,COUNTRY,다음 국가의 것임(country)
2,"[E1] 삼성전자 [/E1] 가 인도, 중국 시장을 겨냥해 혁신기술을 넣은 중저가 ...",삼성전자,ORGANIZATION,스마트폰,TERM,해당 개체의 제품(product or material produced)
3,"[E2] 삼성전자 [/E2] 가 [E1] 인도 [/E1] , 중국 시장을 겨냥해 ...",인도,COUNTRY,삼성전자,ORGANIZATION,NaN
4,"삼성전자가 [E1] 인도 [/E1] , [E2] 중국 [/E2] 시장을 겨냥해...",인도,COUNTRY,중국,COUNTRY,수교국(diplomatic relation)

In [3]:
len(df)

70264

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70264 entries, 0 to 70263
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentence   70264 non-null  object
 1   subj_name  70264 non-null  object
 2   subj_type  70264 non-null  object
 3   obj_name   70264 non-null  object
 4   obj_type   70264 non-null  object
 5   relation   42006 non-null  object
dtypes: object(6)
memory usage: 3.2+ MB

In [6]:
true_df = df.dropna(subset=['relation'])
true_df

,sentence,subj_name,subj_type,obj_name,obj_type,relation
0,"[E1] 삼성전자 [/E1] 가 [E2] 인도 [/E2] , 중국 시장을 겨냥해 ...",삼성전자,ORGANIZATION,인도,COUNTRY,다음 국가의 것임(country)
1,"[E1] 삼성전자 [/E1] 가 인도, [E2] 중국 [/E2] 시장을 겨냥해 ...",삼성전자,ORGANIZATION,중국,COUNTRY,다음 국가의 것임(country)
2,"[E1] 삼성전자 [/E1] 가 인도, 중국 시장을 겨냥해 혁신기술을 넣은 중저가 ...",삼성전자,ORGANIZATION,스마트폰,TERM,해당 개체의 제품(product or material produced)
4,"삼성전자가 [E1] 인도 [/E1] , [E2] 중국 [/E2] 시장을 겨냥해...",인도,COUNTRY,중국,COUNTRY,수교국(diplomatic relation)
5,"삼성전자가 [E1] 인도 [/E1] , 중국 시장을 겨냥해 혁신기술을 넣은 중저가...",인도,COUNTRY,스마트폰,TERM,해당 개체의 제품(product or material produced)
...,...,...,...,...,...,...
70255,'더 뱅커' [E2] 김상중 [/E2] 이 강단 있는 카리스마로 서이숙의 채용 비...,유동근,PERSON,김상중,PERSON,해당 개체의 친형제자매(sibling)
70256,'더 뱅커' 김상중이 강단 있는 카리스마로 [E2] 서이숙 [/E2] 의 채용 비...,유동근,PERSON,서이숙,PERSON,해당 개체의 배우자(spouse)
70258,' [E2] 더 뱅커 [/E2] ' 김상중이 강단 있는 카리스마로 서이숙의 채용 비...,꼬리,ANIMAL,더 뱅커,ARTIFACT,해당 개체가 다음의 일부분임(part of)
70262,치료 대안이 마땅치 않은 [E1] 말기암 [/E1] 환자들에게 희망을 줄 수 있...,말기암,TERM,항암바이러스,TERM,하위 개념(subclass of)
70263,치료 대안이 마땅치 않은 [E2] 말기암 [/E2] 환자들에게 희망을 줄 수 있...,항암바이러스,TERM,말기암,TERM,다음과 다르지만 같은 의미인 것처럼 혼동되는 항목(different from)

In [7]:
true_df.to_csv('../results/specific_domain_pred_true.csv', index=False)

In [1]:
import pandas as pd

new = pd.read_csv('../results/specific_domain_pred_true.csv')

In [2]:
new.head()

,sentence,subj_name,subj_type,obj_name,obj_type,relation
0,"[E1] 삼성전자 [/E1] 가 [E2] 인도 [/E2] , 중국 시장을 겨냥해 ...",삼성전자,ORGANIZATION,인도,COUNTRY,다음 국가의 것임(country)
1,"[E1] 삼성전자 [/E1] 가 인도, [E2] 중국 [/E2] 시장을 겨냥해 ...",삼성전자,ORGANIZATION,중국,COUNTRY,다음 국가의 것임(country)
2,"[E1] 삼성전자 [/E1] 가 인도, 중국 시장을 겨냥해 혁신기술을 넣은 중저가 ...",삼성전자,ORGANIZATION,스마트폰,TERM,해당 개체의 제품(product or material produced)
3,"삼성전자가 [E1] 인도 [/E1] , [E2] 중국 [/E2] 시장을 겨냥해...",인도,COUNTRY,중국,COUNTRY,수교국(diplomatic relation)
4,"삼성전자가 [E1] 인도 [/E1] , 중국 시장을 겨냥해 혁신기술을 넣은 중저가...",인도,COUNTRY,스마트폰,TERM,해당 개체의 제품(product or material produced)

In [8]:
new.sample(5)

,sentence,subj_name,subj_type,obj_name,obj_type,relation
20806,[E1] 디즈니 [/E1] 실사영화 [E2] 알라딘 [/E2] 이 흥행 역주행에...,디즈니,ORGANIZATION,알라딘,ARTIFACT,해당 개체가 소유한 것(owner of)
36649,기아차 텔루라이드가 스포츠유틸리티차량 최대 격전지로 꼽히는 [E1] 미국 [/E1...,미국,COUNTRY,SUV,ARTIFACT,해당 개체의 제품(product or material produced)
9054,한편 쌍용자동차 노사 대표는 이날 [E2] 이재명 [/E2] [E1] 경기 [...,경기,LOCATION,이재명,PERSON,해당 행정부 또는 지자체의 수장(head of government)
23854,"' [E2] 날씨의 아이 [/E2] '는 어느 여름날, 16세 소년 [E1] 호다...",호다카,PERSON,날씨의 아이,ARTIFACT,해당 개체가 다음 작품에 등장함(present in work)
36258,"한편 영화 1987은 [E1] 장준환 [/E1] 감독이 메가폰을 잡았고, 김윤석...",장준환,PERSON,유해진,PERSON,해당 개체의 배우자(spouse)

In [12]:
new.sample(5)

,sentence,subj_name,subj_type,obj_name,obj_type,relation
8464,한올바이오파마의 서울 [E1] 강남 [/E1] 본사. [사진= [E2] 한올바이...,강남,LOCATION,한올바이오파마,ORGANIZATION,해당 개체가 소유한 것(owner of)
32576,[E2] 네이버 [/E2] 의 일본 자회사 ' [E1] 라인 [/E1] '과 일본 ...,라인,ORGANIZATION,네이버,ORGANIZATION,해당 개체가 다음의 산하 기관임(parent organization)
10912,오늘 방송되는 tvN 가 세 번째 여행지인 [E2] 러시아 [/E2] [E1]...,모스크바,CITY,러시아,COUNTRY,다음 행정구역에 위치함(located in)
24165,지난주 중국 [E2] 정부 [/E2] 가 6% 성장을 발표했지만 [E1] 월스트...,월스트리트,LOCATION,정부,ORGANIZATION,다음 종류에 속함(instance of)
26182,[E1] 청일전자 [/E1] 미쓰리 [E2] 엄현경 [/E2] 이 현장을 유쾌함...,청일전자,ORGANIZATION,엄현경,PERSON,해당 개체가 다음으로 이루어져 있음(has part)

In [25]:
new.sample(5)

,sentence,subj_name,subj_type,obj_name,obj_type,relation
37873,이곳의 위치는 인천 [E1] 부평구 [/E1] 에 위치한 [E2] 쉐라메르제과점...,부평구,LOCATION,쉐라메르제과점,ORGANIZATION,하위 행정구역
37001,"정부의 [E1] 기초연구사업 [/E1] 지원 1차 기준이 지원 금액에서 수학, ...",기초연구사업,TERM,물리학,STUDY_FIELD,전문 분야(field of work)
5132,"팁스에 선정된 교수 벤처기업은 [E1] 리센스메디컬 [/E1] , 유투메드텍, ...",리센스메디컬,ORGANIZATION,필더세임,ORGANIZATION,해당 개체의 산하 기관(subsidiary)
14454,개그우먼 겸 트로트 가수 [E2] 김나희 [/E2] 가 남다른 의욕으로 ' [E1...,라디오스타,ARTIFACT,김나희,PERSON,해당 개체가 다음으로 이루어져 있음(has part)
15284,지난 15일 [E1] 아프리카 TV [/E1] 방송을 통해 [E2] 꽃자 [/...,아프리카 TV,TERM,꽃자,PERSON,해당 개체가 다음으로 이루어져 있음(has part)